{% extends 'layout/layout.html.twig' %}

{% block body %}
    <h1>Ancienne</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ancienne.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('act_ancienne_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
