{% extends 'layout/layout.html.twig' %}


{% block body %}

	<section class="container-fluid">
		<article class="my article-container alphabg">
		
		<div class="article-container-header">Contact</div>
		

<p style="color: #b51a00;"><span style="color: rgb(0, 0, 0);"><b>Editeur du Site : </b></span></p>
BDE Exia
Numéro de SIRET :  6865
Responsable editorial : Groupe 4
60 Rue Tixeraien, Birkhadem
Téléphone :0551254874 - Fax : 0237845986
Email : bdexialger@gmail.com
Site Web : <a href="http://www.bde.exia.alger.dz">www.bde.exia.alger.dz</a>
</br>

	</section>

	
	
	{% endblock %}