{% extends 'layout/layout.html.twig' %}

{% block body %}
    <h1>En_votes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Recurrent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for env in en_votes %}
            <tr>
                <td><a href="{{ path('admin_act_envote_show', { 'id': env.id }) }}">{{ env.id }}</a></td>
                <td>{% if env.recurrent %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_act_envote_show', { 'id': env.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
